<div class="text-center">
  <% content_for(:title, "Unobtrusive JavaScript") %>

  <ul class="text-left">
    <li>part of Rails since 5.1.0, <code>rails-ujs</code> npm package</li>
    <li>use <code>jquery-ujs</code> npm if you need jQuery</li>
    <li>remote elements <code>data-remote="true"</code></li>
    <li>confirmations <code>data-confirm="Are you sure?"</code></li>
    <li>automatic disabling <code>data-disable-with="Loading…"</code></li>
  </ul>
</div>
