<div class="text-center">
  <% content_for(:title, "Unobtrusive JavaScript") %>

  <ul class="text-left">
    <li>part of Rails since 5.1.0, <code>rails-ujs</code> npm package</li>
    <li>no jQuery dependency, <code>jquery-ujs</code> npm package</li>
    <li>remote elements <code>data-remote="true"</code></li>
    <li>confirmations <code>data-confirm="Are you sure?"</code></li>
    <li>automatic disabling <code>data-disable-with="Loading…"</code></li>
  </ul>

  <small><a href="https://guides.rubyonrails.org/working_with_javascript_in_rails.html#unobtrusive-javascript">https://guides.rubyonrails.org/working_with_javascript_in_rails.html#unobtrusive-javascript</a></small>
</div>
