<div class="text-center">
  <% content_for(:title, "There is MOAR") %>

  <ul class="text-left">
    <li>
      Turbolinks
      <ul>
        <li>
          Rails Guides<br>
          <small><a href="https://guides.rubyonrails.org/working_with_javascript_in_rails.html#turbolinks">https://guides.rubyonrails.org/working_with_javascript_in_rails.html#turbolinks</a></small>
        </li>

        <li>
          README <br>
          <small><a href="https://github.com/turbolinks/turbolinks">https://github.com/turbolinks/turbolinks</a></small>
        </li>
      </ul>
    </li>
    <li>
      Unobtrusive JavaScript<br>
      <small>
        <a href="https://guides.rubyonrails.org/working_with_javascript_in_rails.html#unobtrusive-javascript">https://guides.rubyonrails.org/working_with_javascript_in_rails.html#unobtrusive-javascript</a>
      </small>
    </li>
    <li>
      Stimulus
      <ul>
        <li>
          Handbook & Reference<br>
          <small><a href="https://stimulusjs.org">https://stimulusjs.org</a></small>
        </li>
        <li>
          Discourse<br>
          <small><a href="https://discourse.stimulusjs.org">https://discourse.stimulusjs.org</small>
        </li>
      </ul>
    </li>
  </ul>
</div>
