<div class="text-center">
  <% content_for(:title, "Single Page Applications - Drawbacks") %>

  <ul class="text-left">
    <li>poor SEO</li>
    <li>slow startup</li>
    <li>duplicated logic</li>
    <li>requires an API</li>
  </ul>
</div>
