<div class="cover">
  <h1 class="pt-5 text-center">I don’t always make SPAs</h1>

  <h2 class="pb-5 text-center">…but when I do, I prefer Rails Way™</h2>

  <h3 class="m-5 text-center">Kuba Kuźma</h3>

  <p class="text-center text-muted">
    <small>October 29, 2019</small><br>
    <small>Silesian Ruby Users Group</small>
  </p>
</div>
