<div class="text-center">
  <% content_for(:title, "Stimulus Controllers") %>

  <pre class="text-left">
    <code class="html">&lt;div data-controller="clipboard"&gt;&lt;/div&gt;</code>
  </pre>
  <pre class="text-left">
    <code class="html">&lt;div data-controller="clipboard list-item"&gt;&lt;/div&gt;</code>
  </pre>
  <pre class="text-left">
    <code class="html">&lt;ul&gt;
&lt;li data-controller="list-item"&gt;One&lt;/li&gt;
&lt;li data-controller="list-item"&gt;Two&lt;/li&gt;
&lt;li data-controller="list-item"&gt;Three&lt;/li&gt;
&lt;/ul&gt;</code>
  </pre>
</div>
