<div class="text-center">
  <% content_for(:title, "Stimulus Controllers") %>

  <ul class="text-left">
    <li><code>this.application</code> - application instance</li>
    <li><code>this.element</code> - DOM element</li>
    <li><code>this.[name]Target</code>, <code>this.[name]Targets</code>, <code>this.has[Name]Target</code> - target elements</li>
    <li><code>this.data</code> - special data attributes</li>
  </ul>
</div>
