<div class="text-center">
  <% content_for(:title, "Stimulus") %>

  <blockquote class="blockquote w-50 mx-auto text-right">
    <p>
      Stimulus and Turbolinks work great in conjunction with other,
      heavier approaches. If 80% of your application does not warrant
      the big rig, consider using our two-pack punch for that. Then roll
      out the heavy machinery for the part of your application that can
      really benefit from it.
    </p>
    <footer class="blockquote-footer">
      David Heinemeier Hansson
    </footer>
  </blockquote>
</div>
