<div class="text-center">
  <% content_for(:title, "Stimulus") %>

  <div class="m-5">
    A modest JavaScript framework for <strong>the HTML you already have</strong>
  </div>

  <ul class="text-left">
    <li>designed to augment HTML, not to turn JSON into DOM elements</li>
    <li>watches the page for changes efficiently using the MutationObserver API</li>
    <li>written in TypeScript</li>
    <li>tiny footprint (<code>stimulus.umd.js</code> is 8 kB minified, gzipped)</li>
  </ul>
</div>
