<div class="text-center">
  <% content_for(:title, "Stimulus Controllers") %>

  <pre class="text-left">
    <code>
import { Controller } from "stimulus"

export default class extends Controller {
  initialize() {
    // Once, when the controller is first instantiated
  }
  connect() {
    // Anytime the controller is connected to the DOM
  }
  disconnect() {
    // Anytime the controller is disconnected from the DOM
  }
}
    </code>
  </pre>
</div>
