<div class="text-center">
  <% content_for(:title, "Turbolinks Caching") %>

  <p>
    the current time is:
    <span class="loading">
      <span><%= Time.now.strftime("%H:%M:%S") %></span>
    </span>
  </p>
</div>
