<div class="text-center">
  <% content_for(:title, "There is MOAR") %>

  <ul class="text-left">
    <li>
      Rails Guides <br>
      <small><a href="https://guides.rubyonrails.org/working_with_javascript_in_rails.html#turbolinks">https://guides.rubyonrails.org/working_with_javascript_in_rails.html#turbolinks</a></small>
    </li>

    <li>
      Turbolinks README <br>
      <small><a href="https://github.com/turbolinks/turbolinks">https://github.com/turbolinks/turbolinks</a></small>
    </li>
  </ul>
</div>
